---
import App from '../layouts/App.astro';
---

<App title="Home" description='Welcome to my digital corner of the web! I’m Jordan, a passionate and versatile web developer with a talent for creating dynamic and user-friendly websites.'>
    <h1>Hi</h1>
    <p>look at my <a href="/articles">articles</a></p>
</App>